@charset "utf-8";
/* CSS Document */


#s3slider {
	margin-top: 25px;
	width: 960px; /* important to be same as image width */
	height: 325px; /* important to be same as image height */
	position: relative; /* important */
	overflow: hidden; /* important */
}
	#s3slider li {
		list-style-type: none;
	}

#s3sliderContent {
   width: 804px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */
   max-height: 150px;
}

.s3sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
}

.s3sliderImage a {
	/* background-color: hsla(0,0%,0%,0); */
	color: #FFF;
	text-shadow: 2px 2px 2px #080;
}
.s3sliderImage a:hover {
	text-decoration: underline;
	text-shadow: 2px 2px 2px #0A0;
}

.s3sliderImage span {
   position: absolute; /* important */
   left: 0;
   font: 36px/50px "Graublau Web Bold", Arial, Helvetica, sans-serif;
   text-align: justify;
   padding: 70px 1px;
   width: 500px;
   color: #444;
   text-shadow: 2px 2px 2px #083;

   display: none; /* important */
   bottom: 46px;
}

.s3sliderImage span.left {
   position: absolute; /* important */
   right: 0;
   margin-left: 0px;
   font: 36px/50px "Graublau Web Bold", Arial, Helvetica, sans-serif;
   text-align: left;
   padding: 40px 1px;
   width: 630px;
   color: #444;
   text-shadow: 2px 2px 2px #083;

   display: none; /* important */
   bottom: 46px;
}

.s3sliderImage span.right {
   position: absolute; /* important */
   right: 0;
   margin-left: 320px;
   font: 36px/50px "Graublau Web Bold", Arial, Helvetica, sans-serif;
   text-align: right;
   padding: 40px 1px;
   width: 630px;
   color: #444;
   text-shadow: 2px 2px 2px #083;

   display: none; /* important */
   bottom: 46px;
}

.s3sliderImage span.quote {
   position: absolute; /* important */
   right: 0;
   font: 36px/50px "Graublau Web Bold", Arial, Helvetica, sans-serif;
   text-align: right;
   padding: 60px 1px;
   width: 960px;
   color: #444;
   text-shadow: 2px 2px 2px #083;

   display: none; /* important */
   bottom: 46px;
}

.clear {
	clear: both;
}