@charset "UTF-8";
/* CSS Document */


/* Shaun Inman's Global Reset (Edited) */
/* A global reset of many of the pre-define HTML tags. */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, blockquote, table, th, td, embed, object {
	padding: 0;
	margin: 0; 
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img, abbr {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
}
caption, th {
	text-align: left;
}
q:before, q:after {
	content: '';
}
a, ins {
	text-decoration: none;
}


/* Text Selection Colors -- Not valid with CSS 3 */
/*
::selection {
	background: #000000; /* Safari
	}
::-moz-selection {
	background: RGBA(0, 205, 0, 0.5); /* Firefox
}
*/


/* Typefaces for @font-face */
/* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */
@font-face {
	font-family: 'Graublau Web Regular';
		src: url('../type/GraublauWeb.eot');
		src: local('Graublau Web Regular'), local('Graublau Web'),
		url('../type/GraublauWeb.ttf') format('truetype'),
		url("../type/GraublauWeb.woff") format("woff"),
		url("../type/GraublauWeb.otf") format("opentype"),
		url("../type/GraublauWeb.svg#GraublauWeb") format("svg");

}
@font-face {
	font-family: 'Graublau Web Bold';
		src: url('../type/GraublauWebBold.eot');
		src: local('Graublau Web Bold'), local('Graublau Web'),
		url('../type/GraublauWebBold.ttf') format('truetype'),
		url('../type/GraublauWebBold.ttf') format('truetype'),
		url("../type/GraublauWebBold.woff") format("woff"),
		url("../type/GraublauWebBold.otf") format("opentype"),
		url("../type/GraublauWebBold.svg#GraublauWebBold") format("svg");
}



/* The following code styles pre-defined HTML tags */
body {
	background: #FFF url(../images/backgrounds/bg_404.png) repeat-x;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #891B00;
}
h1 a {
	color: #FFF;
	text-shadow: 2px 2px 2px #891B00;
}
h1 a:hover {
	color: #FFF;
}
h2 {
	color: #444;
	font-size: 22px;
	margin: -35px 0 0 0;
}


/* The following code styles custom ID's */
#container {
	background-color: #FFF;
	margin: auto;
	max-width: 960px;
	width: 960px;
}
#content {
	color: #444;
}
#content a {
	color: #F00;
	text-decoration: none;
}
	#content a:hover {
		text-decoration: underline;
	}
#footer {
	border-top: 1px solid #F00;
	clear: both;
	color: #444;
	font-size: 12px;
	margin-bottom: 3.5%;
	padding: 2% 0 0 0;
}
#footer a {
	color: #444;
	text-decoration: none;
}
#footer a.active {
	color: #F00;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#footer img {
	
}
#footer li {
	display: inline;
	list-style: none;
	margin-left: 5px;
}
#header {
	background-color: #FFF;
	background-image: url(../images/backgrounds/bg_header_404.png);
	background-repeat: no-repeat;
	padding: 25px 0 0 0;
}
#logo {
	width: 50%;
}
#nav {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin: -40px 0 0 0;
	padding: 7px 0 0 0;
	text-align: right;
	text-shadow: 2px 2px 2px #891B00;
	width: 50%;
}
#nav li {
	list-style: none;
	display: inline;
	margin-left: 15px;
}
#nav a {
	color: #FFF;
}
#nav a.active {
	text-decoration: underline;
}
#nav a:hover {
	text-decoration: underline;
}


/* The following code styles custom classes */
.copyright {
	float: right;
	text-align: right;
	width: 48.5%;
}
.footernav {
	float: left;
	width: 48.5%;
}

a.facebook{
	background-repeat: no-repeat;
	background-image:url(../images/social_buttons/facebook_grey.png);
	min-height: 12px;
	min-width: 12px;
}
a.facebook:hover {
	background-image:url(../images/social_buttons/facebook.png);
}
a.flickr {
	background-repeat: no-repeat;
	background-image:url(../images/social_buttons/flickr_grey.png);
	height: 12px;
	width: 39px;
}
a.flickr:hover {
	background-image:url(../images/social_buttons/flickr.png);
}
a.forrst {
	background-repeat: no-repeat;
	background-image:url(../images/social_buttons/forrst_grey.png);
	min-height: 12px;
	min-width: 12px;
}
a.forrst:hover {
	background-image:url(../images/social_buttons/forrst.png);
}
a.linkedin {
	background-repeat: no-repeat;
	background-image:url(../images/social_buttons/linkedin_grey.png);
	min-height: 12px;
	min-width: 12px;
}
a.linkedin:hover {
	background-image:url(../images/social_buttons/linkedin.png);
}
a.twitter {
	background-repeat: no-repeat;
	background-image:url(../images/social_buttons/twitter_grey.png);
	min-height: 12px;
	min-width: 12px;
}
a.twitter:hover {
	background-image:url(../images/social_buttons/twitter.png);
}
a.vimeo {
	background-repeat: no-repeat;
	background-image:url(../images/social_buttons/vimeo_grey.png);
	min-height: 12px;
	min-width: 41px;
}
a.vimeo:hover {
	background-image:url(../images/social_buttons/vimeo.png);
}