@charset "UTF-8";
/* CSS Document */


/* The following code styles custom classes for elements featured on the Home page. (index.html) */
.who {
	float: left;
	font-size: 16px;
	text-align: justify;
	width: 300px;
}
.what {
	float: left;
	font-size: 16px;
	margin: 0 0 0 30px;
	text-align: justify;
	width: 300px;
}
.you {
	float: right;
	font-size: 16px;
	text-align: justify;
	width: 300px;
}