@charset "UTF-8";
/* CSS Document */


/* The following code styles custom classes for elements featured on the Portfolio page. (portfolio.htm) */
.categories {
	float: left;
	font-size: 14px;
	width: 150px;
}
	.categories a#active {
	color: #444444;
	}
.categories h4 {
	font-size: 16px;
	margin-top: 15px;
}
	.categories ul {
		list-style: none;
		margin: 0 0 15px 0;
	}
.content {
	float: left;
	font-size: 16px;
	margin: 0 0 0 30px;
	text-align: justify;
	width: 600px;
}
	.content p {
		margin-top: 20px;
	}
	
	.content ul li {
		list-style-type: square;
		margin: 0 0 0 35px;
	}
.media {
	float: right;
	font-size: 16px;
	text-align: justify;
	width: 150px;
}
	.media img {
		border: 1px solid black;
	}
.media li {
	list-style-type: none;
	padding-bottom: 10px;
}
	.media ul {
		margin-top: 17px;
	}
.view {
	font-size: 24px;
}